* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

a:hover {
  color: orange;
}

body {
  background-color: #f5f7fa;
  padding: 40px 20px;
  font-family: Montserrat;
}

.block {
  display: block;
}

.wrapper {
  display: flex;
  background: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

aside {
  width: 60%;
  background-color: #1e2939;
  color: white;
  padding: 0 0 20px;
}

aside img {
  width: 100%;
}

.containers {
  padding: 60px 35px 0;
}

.container {
  margin-bottom: 40px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.contacts__title {
  margin-bottom: 10px;
}

.messagers__title {
  margin-bottom: 15px;
}

.messagers-item {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.messagers-icon {
  display: block;
  min-width: 100%;
  min-height: 100%;
  transition: opacity .3s ease-in-out;
}

.messagers-item:not(:last-child) {
  margin-right: 10px;
}

.messagers-item:hover .messagers-icon {
  opacity: .5;
}


.contacts__container span {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
}

.contacts__container div a {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.contacts__container div.tel a {
  text-decoration: none;
  color: #ff6b08;
}

.contacts__container div a:hover,
.contacts__container div.tel a:hover {
  color: orange;
}

.item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}

.item span {
  color: #d8dadd;
}

.about-container {
  padding: 50px 90px;
}

.about-container li {
  margin-left: 17px;
}

.about__item {
  margin-bottom: 55px;
}

.proffesion__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.name {
  font-size: 40px;
  font-weight: 700;
  line-height: 89px;
}

.proffesion__desc {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.about-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.projects__item {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.projects__link,
.projects__item span {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}

.work-item__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.work-item__desc {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}

.work-item__list {
  margin-bottom: 25px;
}

.work-item__item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.work-item__subtitle span {
  color: #ff761b;
}

.work-item__desc span {
  color: #000;
  font-weight: 700;
}

.education-item {
  margin-bottom: 40px;
}

.education-item__subtitle {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.education-item__desc {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}


.education-item__time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.education-item__time b {
  color: #000;
}

.achievement-item__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.achievement-item__subtitle span {
  color: #ff761b;
}

.achievement-item__desc {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.achievement-item__time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.achievement-item__link {
  text-decoration: none;
  color: #ff761b;
}

.achievement-item__link:hover {
  color: orange;
}

@media (max-width: 992px) {
  .wrapper {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  aside img {
    position: relative;
    left: 50%;
    width: 35%;
    transform: translateX(-50%);
  }

  .about-container {
    padding: 60px;
  }

  .proffesion {
    margin-bottom: 30px;
  }

  .proffesion__title {
    margin-bottom: 10px;
  }

  .name {
    font-size: 24px;
    line-height: 100%;
  }
}

@media (max-width: 576px) {

  aside {
    padding-top: 0;
  }

  .containers {
    padding-left: 20px;
    padding-right: 20px;
  }

  aside img {
    width: 100%;
  }

  .projects ol li a {
    display: block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (max-width:375px) {
  .about-container {
    background: #fff;
    padding: 20px;
  }
}
